div#canContainer
{
}

canvas#theCanvas
{
	border: 1px solid;
	/* The following cause the canvas to strech. @see lfmanip.resizeCanvas() */
	height: 100%;
	width: 100%;
}

#loadImages
{
	position: absolute;
	left: 10px;
	top: 40px;
}
